<h1>Smartest and HOTTEST</h1>
<article>
<% @count = 1 %>
<% @extended_profiles.each do |a| %>
  <h1><%= @count %></h1>
  <% @count = @count + 1 %>
  <%= render "extended_profiles/user_photo", :user => a %>
<% end %>
</article>

<div class="row">
      <div class="twelve columns">
      <!-- Thumbnails -->

          <div class="twelve columns">
            <div class="row">

              <div class="four mobile-two columns">
                <img src="http://placehold.it/1000x1000&text=Thumbnail">

                <div class="panel">
                  <h5>Item Name</h5>
                  <h6 class="subheader">$000.00</h6>
                </div>
              </div>

              <div class="four mobile-two columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">

                <div class="panel">
                  <h5>Item Name</h5>
                  <h6 class="subheader">$000.00</h6>
                </div>
              </div>

              <div class="four mobile-two columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">

                <div class="panel">
                  <h5>Item Name</h5>
                  <h6 class="subheader">$000.00</h6>
                </div>
              </div>

              <div class="four mobile-two columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">

                <div class="panel">
                  <h5>Item Name</h5>
                  <h6 class="subheader">$000.00</h6>
                </div>
              </div>

              <div class="four mobile-two columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">

                <div class="panel">
                  <h5>Item Name</h5>
                  <h6 class="subheader">$000.00</h6>
                </div>
              </div>

              <div class="four mobile-two columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">

                <div class="panel">
                  <h5>Item Name</h5>
                  <h6 class="subheader">$000.00</h6>
                </div>
              </div>

      <!-- End Thumbnails -->

          </div>

          
        </div>

      <hr />

      </div>
    </div>