<h1>Smartest and HOTTEST</h1>
<div class="row">
      <div class="twelve columns">
        <!-- Thumbnails -->
        <div class="twelve columns">
          <div class="row">
            <% @count = 1 %>
      			<% @extended_profiles.each do |a| %>
      			  <% @count = @count + 1 %>
      			  <%= render "extended_profiles/user_photo", :user => a %>
      			<% end %>
          </div>
        </div>
        <!-- End Thumbnails -->
      <hr />
      </div>
    </div>