<table>
	<tr>
		<td>
			<%= render :partial => "extended_profiles/show" %>
		<td>
		<td>
			<% if not user_signed_in? %>
			<%= render "devise/registrations/new" %>
			<% end %>
		</td>
	<tr>
</table>