

<% if not user_signed_in? %>

	<article class="home-content">
		<section class="home-left">
			<h1> Welcome to Smart or HOT </h1>
		</section>
		<section class="home-right">
			<%= render "devise/registrations/new" %>
		</section>
	</article>

<% else %>

	<div class="row">
	    <div class="twelve columns">
	    <!-- Thumbnails -->

	        <div class="twelve columns">
	          <div class="row">

	            <div class="four mobile-two columns">
	              <img src="http://placehold.it/1000x1000&text=Thumbnail">

	              <div class="panel">
	                <h5>Item Name</h5>
	                <h6 class="subheader">$000.00</h6>
	              </div>
	            </div>

	            <div class="four mobile-two columns">
	              <img src="http://placehold.it/500x500&text=Thumbnail">

	              <div class="panel">
	                <h5>Item Name</h5>
	                <h6 class="subheader">$000.00</h6>
	              </div>
	            </div>

	            <div class="four mobile-two columns">
	              <img src="http://placehold.it/500x500&text=Thumbnail">

	              <div class="panel">
	                <h5>Item Name</h5>
	                <h6 class="subheader">$000.00</h6>
	              </div>
	            </div>

	            <div class="four mobile-two columns">
	              <img src="http://placehold.it/500x500&text=Thumbnail">

	              <div class="panel">
	                <h5>Item Name</h5>
	                <h6 class="subheader">$000.00</h6>
	              </div>
	            </div>

	            <div class="four mobile-two columns">
	              <img src="http://placehold.it/500x500&text=Thumbnail">

	              <div class="panel">
	                <h5>Item Name</h5>
	                <h6 class="subheader">$000.00</h6>
	              </div>
	            </div>

	            <div class="four mobile-two columns">
	              <img src="http://placehold.it/500x500&text=Thumbnail">

	              <div class="panel">
	                <h5>Item Name</h5>
	                <h6 class="subheader">$000.00</h6>
	              </div>
	            </div>

	    <!-- End Thumbnails -->

	        </div>

	        
	      </div>

	    <hr />

	    </div>
    </div>

<% end %>