<article class="home-content">
	<section class="home-left">
		<% if user_signed_in? %>
			<%= render :partial => "extended_profiles/show" %>
		<% else %>
			<h1> Welcome to Smart or HOT </h1>
		<% end %>
	</section>
	<section class="home-right">
		<% if not user_signed_in? %>
			<%= render "devise/registrations/new" %>
		<% end %>
	</section>
</article>