<table>
	<tr>
		<td valign=top>
			<% if user_signed_in? %>
			<%= render :partial => "extended_profiles/show" %>
			<% else %>
			<h1> Welcome to Smart or HOT </h1>
			<% end %>
		<td>
		<td style="width:25%;"></td>
		<td valign=top>
			<% if not user_signed_in? %>
			<%= render "devise/registrations/new" %>
			<% end %>
		</td>
	<tr>
</table>