<div class="row">
  <!-- Thumbnails -->
  <div class="twelve columns">
    <div class="row">
			<% @extended_profiles.each do |a| %>
			  <%= render "extended_profiles/user_photo", :user => a %>
			<% end %>
    </div>
  </div>
  <!-- End Thumbnails -->
  <hr />
</div>