<div class="row">
    <div class="twelve columns">

      <div class="row">

  <!-- Side Bar -->

        <div class="four mobile-four columns">

          <%=render "extended_profiles/user_photo", :user => @their_extended_profile %>
          <div class="hide-for-small panel">
            <h3><%= @their_extended_profile[:first_name] %> 
            <%= @their_extended_profile[:last_name] %></h3>
            <h5 class="subheader">
            </h5>
          </div>

          <%= link_to '<div class="panel callout radius" align="center"><h6>Send Message</h6></div>'.html_safe, new_user_message_path(@user)%>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="eight columns">
          <div class="row">

            <div class="four mobile-two columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>

    <!-- End Thumbnails -->

          </div>
        </div>
      </div>

    <hr />

    </div>
  </div>