/* CSS Document                   */
/* Created by Jared Sealey        */

/* Style */
body { font: 12px Arial; margin: 0px; padding: 0px 20px; background-color: #594D37; }
h1 { margin: 0 0 1em 0;  font-size: 1.7em; font-weight: normal; }
h2 { margin: 0 0 .5em 0; font-size: 1.3em; }
p { margin: 0 0 1em 0; }
aside p { color: #777; }
footer { font-size: .9em; }
.login { margin: 5px; padding: 0px; position: absolute; right: 0px; top: 0px; }
.searchwrapper { margin: 3px; padding: 0px; position:absolute; right: 0px; top:0px; font-color: white;}
.input{
    background: none repeat scroll 0 0 #E3E3E3;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #F6F6F6 inset;
    color: #333333;
    font: bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 50px;
}
.tag {
    background: none repeat scroll 0 0 #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #BBBBBB;
    margin: 5px; 
    box-shadow: 0 0 2px 2px #F6F6F6 inset;
    color: #333333;
    font: bold 15px/1 "helvetica neue",helvetica,arial,sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    display: inline;
}

/* Layout */
.page { max-width: 980px; margin: 0px auto; padding: 0px; }
header { position: relative; height: 28px; margin: 0px; padding-top: 80px; background: url(banner.jpg) no-repeat 50% 0px; }
header a.logo { width: 120px; height: 70px; position: absolute; top: 15px; left: 15px; display: relative; }
nav { background-color: rgba(0,0,0,.3); } 
article { margin: 0px; padding: 25px; background-color: #fff; }
aside { width: 300px; float: right; margin: 0px 0px 10px 40px; padding: 0px 0px 0px 20px; border-left: 2px solid #ccc; }
aside p { margin: 0px; }
footer { border-top: 1px solid #ddd; margin: 0px; padding: 10px 25px 10px 10px; color: rgba(255,255,255,.4); }
.clear { clear: both; line-height: 1px; }

.field_with_errors {
	background-color: red;
	color: white;
}

/* Table Styles */
table.sty-gray {
    border: 1px solid #BBBBBB;
    border-spacing: 0;
    width: 700px;
}
table.sty-gray.without-borders {
    border: medium none;
}
table.sty-gray.without-borders th {
    border-left: medium none;
    border-right: medium none;
}
table.sty-gray.shorter-height th {
    line-height: 2.25em;
}
table.sty-gray th {
    background: #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    line-height: 2em;
}
table.sty-gray th.last {
    border-right: medium none;
}
table.sty-gray tr.plain-header th {
    background: none repeat scroll 0 0 #EEEEEE;
    font-weight: bold;
    line-height: 2.25em;
}
table.sty-gray tr.top-header th {
    background: none repeat scroll 0 0 #EEEEEE;
    border-right: medium none;
    font-weight: normal;
    line-height: 3em;
    text-align: left;
}
table.sty-gray td {
    border-bottom: 1px solid #EEEEEE;
}
table.sty-gray.hover-highlight tr:hover {
    background-color: #D6EFF1;
    color: #000000;
}
table.sty-gray.hover-data td:hover {
    background-color: #D6EFF1;
    color: #000000;
}
table.medium-type {
    font-size: 1.5em;
    line-height: 2em;
}