.content {
  width: 970px;
  max-width: 100%;
  min-width: 400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.home-content {
}

.home-left {
  float: left;
  width: 570;
  min-width: 370px;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

.home-right {
  float: left;
  width: 340px;
  padding-left: 15px;
  padding-right: 15px;
}

.bottom-margin {
  margin-bottom: 1em;
}

#error_explanation {
  border: 1px solid red;
  background-color: #F59090;
}
